body{
    font-family: 'arial', sans-serif;
    background-color: #0c0c0c;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

header{
    background-color: #1e90ff;
    padding: 20px;
    font-size: 1.8em;
}

main{
    max-width: 990px;
    background-color: #121212;
    border-radius: 5px;
    box-shadow: 0 0 5px #121212;
    margin: 20px auto;
    padding: 20px;
    
}
.negrito{
    font-weight: bold;
}
.card{
    padding: 10px;
    margin:20px;    
    background-color: #414040;
    width: 250px;
    box-shadow: 0 0 10px #414040;
    border-radius: 10px;
}
.cards{
    margin:20px;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.homi{
    width: 60%;
    height: 40%;
    margin: 10px;
}
.botao{
    background-color :orange;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px;
    font-size: 1.5em;
    border: none;
    color:white;
    font-weight: bold;
}
.botao:hover{
    
}